{% extends 'layouts/layout.html.twig' %}

{% block title %}BTag index{% endblock %}

{% block body %}
    <h1>BTag index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for b_tag in b_tags %}
            <tr>
                <td>{{ b_tag.id }}</td>
                <td>{{ b_tag.name }}</td>
                <td>
                    <a href="{{ path('b_tag_show', {'id': b_tag.id}) }}">show</a>
                    <a href="{{ path('b_tag_edit', {'id': b_tag.id}) }}">edit</a>
                    <a href="{{ path('b_tag_delete', {'id': b_tag.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('b_tag_new') }}">Создать</a>
{% endblock %}
