{% extends 'layouts/layout.html.twig' %}

{% block title %}Blog index{% endblock %}

{% block body %}
    <h1>Blog index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Текст</th>
                <th>Категория</th>
                <th>Теги</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blog in blogs %}
            <tr>
                <td>{{ blog.id }}</td>
                <td>{{ blog.title }}</td>
                <td>{{ blog.text }}</td>
                <td>{{ blog.blogCategory.name }}</td>
                <td>
                    {% if blog.tags is not empty %}
                        {% for tag in blog.tags %}
                            <span class="badge bg-secondary">{{ tag.name }}</span>
                        {% endfor %}
                    {% else %}
                        <span class="text-muted">-</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('blog_show', {'id': blog.id}) }}">show</a>
                    <a href="{{ path('blog_edit', {'id': blog.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('blog_new') }}">Create new</a>
{% endblock %}
