{% extends 'layouts/layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <form method="post" class="mt-5">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal text-center">Введите авторизационные данные</h1>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email</label>
                        <input type="email" value="{{ email }}" name="_username" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Пароль</label>
                        <input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="d-grid">
                        <button class="btn btn-primary btn-lg mt-3" type="submit">
                            Войти
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="mt-4">
                    <p class="text-center mb-3">Или используйте для входа один из сервисов ниже:</p>
                    <div class="d-flex justify-content-center gap-3">
                        <a href="{{ path('connect_google_start') }}" class="social-btn google-btn">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="{{ path('connect_yandex_start') }}" class="social-btn yandex-btn">
                            <i class="fab fa-yandex" style="color: red"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}