{% extends 'layouts/layout.html.twig' %}

{% block title %}Пользователи и навыки{% endblock %}

{% block additional_styles %}
    <link rel="stylesheet" href="{{ asset('css/pages/user-index-page.css') }}">
{% endblock %}

{% block body %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Пользователи</h1>
        <div id="vue-app">
            <user-list
                :users="users"
                @add-user="addUser"
                @remove-user="removeUser"
                @attach-skill="attachSkill"
                @detach-skill="detachSkill"
            ></user-list>
        </div>
    </div>
{% endblock %}

{% block additional_scripts %}
    <script src="{{ asset('js/Axios1.13.2.js') }}"></script>
    <script src="{{ asset('js/Vue.3.5.24.js') }}"></script>
    <script src="{{ asset('js/vue-components/User.js') }}"></script>
    <script src="{{ asset('js/vue-components/UserList.js') }}"></script>

    <script type="module">
        import { apiErrorHandle, getCsrfToken } from "{{ asset('js/common/formHelper.js') }}"

        axios.defaults.headers.common['X-CSRF-TOKEN'] = getCsrfToken();

        Vue.createApp({
            components: {
                'user-list': UserList,
            },
            data() {
                return {
                    users: [],
                    errorMessage: '',
                }
            },
            methods: {
                async loadUsers() {
                    try {
                        const response = await axios.get('/api/user/get-all');
                        if (response.data.success) {
                            this.users = response.data.data;
                        } else {
                            this.errorMessage = response.data.errors.join(', ');
                        }
                    } catch (error) {
                        this.errorMessage = apiErrorHandle(error, 'Ошибка загрузки пользователей');
                    }
                },

                async addUser(newUser) {
                    this.users.push(newUser);
                },

                async removeUser(userId) {
                    try {
                        const response = await axios.delete(`/api/user/delete/${userId}`);
                        if (response.data.success) {
                            this.users = this.users.filter(user => user.id !== userId);
                        } else {
                            this.errorMessage = response.data.errors.join(', ');
                        }
                    } catch (error) {
                        this.errorMessage = apiErrorHandle(error, 'Ошибка удаления пользователя');
                    }
                },

                async attachSkill(data) {
                    const targetUser = this.users.find(user => user.id === data.user_id);
                    if (targetUser) {
                        const newSkill = {
                            id: data.skill_id,
                            name: data.skill_name,
                            descr: data.skill_descr
                        };

                        if (!targetUser.skills) {
                            targetUser.skills = [];
                        }

                        const skillExists = targetUser.skills.some(skill => skill.id === data.skill_id);
                        if (!skillExists) {
                            targetUser.skills.push(newSkill);
                        }
                    }
                },

                async detachSkill(data) {
                    try {
                        const response = await axios.post(`/api/user/detach-skill/${data.userId}/${data.skillId}`);
                        if (response.data.success) {
                            const targetUser = this.users.find(user => user.id === data.userId);
                            if (targetUser?.skills) {
                                targetUser.skills = targetUser.skills.filter(skill => skill.id !== data.skillId);
                            }
                        } else {
                            this.errorMessage = response.data.errors.join(', ');
                        }
                    } catch (error) {
                        this.errorMessage = apiErrorHandle(error, 'Ошибка открепления навыка');
                    }
                }
            },
            mounted() {
                this.loadUsers();
            }
        }).mount('#vue-app');
    </script>

{% endblock %}
